.App {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(25, 25, 29);
  color: ghostwhite;
  min-height: 100vh;
}

.myForm {
  color: black;
  height: 200px;
}

.updateButton {
  color: black;
}

.summaryBox {
}

.navbar {
  background: rgb(15, 15, 20) !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.qbs {
  float: left;
  padding: 60px;
}
.rbs {
  float: left;
  padding: 60px;
}
.wrs {
  float: left;
  padding: 60px;
}
.tes {
  float: left;
  padding: 60px;
}
.defs {
  float: left;
  padding: 60px;
}
.pks {
  float: left;
  padding: 60px;
}

h4 {
  text-decoration: underline;
}
