.comments {
  float: top-left;
  width: 95%;
}

.updateButton {
  border-radius: 50%;
  width: 30px;
  background-color: grey;
  border:4px solid rgb(21, 21, 24);
}

.playercard {
  background:rgba(0,0,0,0.5);
  width: 40%;
  padding-left: 1%;
}

.playerinfo {
  padding: 15px;
}

.profilepic {
  border:2px solid rgb(21, 21, 24);
}

.playerheader {
  padding-left: 1%;
}

.player {
  padding-left: 1%;
}
