.comments {
  width: 95%;
}

.updateButton {
  border-radius: 50%;
  width: 30px;
  background-color: white;
  border:2px solid rgb(15, 15, 19);
}

.playercard {
  float: left;
  background:rgba(0,0,0,0.9);
  padding-left: 1%;
  padding-top: 1%;
  width: 25%;
  min-height: 675px;
  margin-left: 1%;
  margin-bottom: 2%;
}

.playerinfo h4 {
  text-decoration: underline;
}

.fantasy h4 {
}

.rating {
  text-decoration: none !important;
}

.chartTitle {
  text-decoration: none !important;
}

.playerinfo img {
}

.profilepic {
  border:2px solid rgb(21, 21, 24);
}

.playerheader {
  padding-left: 1%;
  float: left;
  width: 100%;
}

.fantasy {
  background:rgba(0,0,0,0.9);
  float: left;
  margin-left: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  min-height: 675px;
}

#player {
  width: 100%;
  height: 50vh;
}
