.comments {
  width: 95%;
}

.updateButton {
  border-radius: 50%;
  width: 30px;
  background-color: grey;
  border:4px solid rgb(15, 15, 19);
}

.playercard {
  background:rgba(0,0,0,0.5);
  padding-left: 1%;
}

.playerinfo {
  padding: 15px;
}

.playerinfo h4 {
  text-decoration: underline;
}

.fantasy h4 {
  text-decoration: underline;
  padding-left: 1%;
}

.playerinfo img {
  border:5px solid rgb(15, 15, 19);
}

.profilepic {
  border:2px solid rgb(21, 21, 24);
}

.playerheader {
  padding-left: 1%;
  float: left;
  width: 100%;
}

.player {
  width: 40%;
  float: left;
  padding-left: 1%;
}

.fantasy {
  background:rgba(0,0,0,0.5);
  float: left;
  padding-left: 1%;
  height: 100%;
  margin-left: 5%;
  padding-right: 2%;
  font-size: 120%;
}
