.positionpic {
  float: left;
  width: 50%;
}

.adpdata {
  float: top-right;
  width: 50%;
  column-count: 2;
  font-size: 120%;
}

.header1 {
  float: left;
  width: 50%;
}

.header2 {
  float: right;
  width: 50%;
}

.carousel {
  margin-top: 65px;
}
