
a:link {
  color: white !important;
}

a:visited {
  color: white !important;
}

a:hover {
    color: white !important;
}

a:active {
  color: white !important;
}

.positionpic {
  float: left;
  width: 38%;
  padding-left: 1%;
}

.positionimage {
  border:5px solid rgb(15, 15, 19);
}

.adpdata {
  float: top-right;
  width: 40%;
  height: 35%;
  column-count: 2;
  padding-top: 1.25%;
  padding-left: 2%;
  margin-right: 10%;
  margin-left: 50%;
  background:rgba(0,0,0,0.5);
  font-size: 110%;
}

.header1 {
  padding-left: 1%;
  float: left;
  width: 50%;
}

.positionheader {
  float: left;
  width: 100%;
}

.header2 {
  padding-left: 1%;
  float: right;
  width: 50%;
}

.carousel {
  position: relative;
  padding-left: 1%;
}

.carousel img {
  border:5px solid rgb(15, 15, 19);
  margin-top: 2%;
}

.positioncarousel {
  margin-top: 5%;
  padding-left: 1%;
}
