
a:link {
  color: white !important;
}

a:visited {
  color: white !important;
}

a:hover {
    color: white !important;
}

a:active {
  color: white !important;
}

.positionpic {
  margin: auto;
  width: 25%;
}

.positionimage {
  border: 2px solid rgb(15, 15, 19);
}

.dataContainter {
  background:rgba(0,0,0,0.2);
  padding-top: 0.5%;
  margin-bottom: 2%;
}

.adpdata {
  width: 100%;
  column-width: 15%;
  column-count: 4;
  padding-left: 10%;
}

.header1 {
  text-align: center;
  padding-left: 2%;
}

.header2 {
  text-align: center;
  padding-left: 2%;
}

.carousel {
  height: 10%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  padding-left: 0.75%;
  padding-right: 0.75%;
  padding-bottom: 0.75%;
}

.carousel img {
  height: 10%;
  width: 10%;
  border:2px solid rgb(15, 15, 19);
  margin-top: 2%;
}

.positioncarousel {
  padding-left: 1%;
  padding-bottom: 2%;
}
