.qbs {
  background-color: rgb(23, 23, 27);
  border:4px solid rgb(21, 21, 24);
  height:600px;
  width: 16.66666666666666666666%;
}
.rbs {
  background-color: rgb(23, 23, 27);
  border:4px solid rgb(21, 21, 24);
  height:600px;
  width: 16.66666666666666666666%;
}
.wrs {
  background-color: rgb(23, 23, 27);
  border:4px solid rgb(21, 21, 24);
  height:600px;
  width: 16.66666666666666666666%;
}
.tes {
  background-color: rgb(23, 23, 27);
  border:4px solid rgb(21, 21, 24);
  height:600px;
  width: 16.66666666666666666666%;
}
.defs {
  background-color: rgb(23, 23, 27);
  border:4px solid rgb(21, 21, 24);
  height:600px;
  width: 16.66666666666666666666%;
}
.pks {
  background-color: rgb(23, 23, 27);
  border:4px solid rgb(21, 21, 24);
  height:600px;
  width: 16.66666666666666666666%;
}

.roster h4{
  text-decoration: underline;
}
