.qbs {
  height:100%;
  width: 16.66666666666666666666%;
}
.rbs {
  height:100%;
  width: 16.66666666666666666666%;
}
.wrs {
  height:100%;
  width: 16.66666666666666666666%;
}
.tes {
  height:100%;
  width: 16.66666666666666666666%;
}
.defs {
  height:100%;
  width: 16.66666666666666666666%;
}
.pks {
  height:100%;
  width: 16.66666666666666666666%;
}

.roster h4{
  text-decoration: underline;
}

.h4 {
  color: grey;
}
