.qbs {
  width: 16.66666666666666666666%;
}
.rbs {
  width: 16.66666666666666666666%;
}
.wrs {
  width: 16.66666666666666666666%;
}
.tes {
  width: 16.66666666666666666666%;
}
.defs {
  width: 16.66666666666666666666%;
}
.pks {
  width: 16.66666666666666666666%;
}

.roster h4{
  text-decoration: underline;
  font-weight: bold;
}

.headerroster {
  padding-left: 1%;
  float: left;
  width: 100%;
}
